[tools]
node = "latest"
"npm:vercel" = "latest"


[tasks.setup-supabase-env]
description = "Set up Supabase environment variables"
run = "supabase status -o env > mlx-local/.env"

[tasks.browse]
description = "Run the image browser"
run = "cd browse && dotenvx run -- pnpm run dev"

[tasks.run-mlx-local]
description = "Run the local MLX image browser"
run = "cd mlx-local && mise run install && mise run web"

[tasks.upload]
description = "Run the image uploader"
run = "cd loader && pnpm run upload"

[tasks.fast-upload]
description = "Run the image uploader with fast mode"
run = "cd loader && UPLOAD_CONCURRENCY=16 SKIP_R2_HEAD=true dotenvx run -- npm run upload"

[tasks.embed]
description = "Run the image embedder"
run = "cd loader && pnpm run embed"

[tasks.sync]
description = "Run the image syncer"
run = "cd loader && pnpm run sync"