[tools]
node = "latest"
"npm:vercel" = "latest"


[tasks.setup-supabase-env]
description = "Set up Supabase environment variables"
run = "supabase status -o env > processor/.env"

[tasks.run-browse]
description = "Run the image browser"
run = "cd browse && dotenvx run -- pnpm run dev"

[tasks.run-processor]
description = "Run the image processor"
run = "cd processor && mise run install && mise run run"

[tasks.run-upload]
description = "Run the image uploader"
run = "cd loader && pnpm run upload"

[tasks.run-embed]
description = "Run the image embedder"
run = "cd loader && pnpm run embed"

[tasks.sync]
description = "Run the image syncer"
run = "cd loader && pnpm run sync"